SERVER_PORT=8081
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3309/rrhh_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=rrhh
SPRING_DATASOURCE_PASSWORD=rrhh_local
COGNITO_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_xxxxxxxxx
COGNITO_AUDIENCE=
